
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet"  href="aboutstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>About Me</title>
</head>

<body>
    <h1>About Me</h1>
    <div class="image-container">
        <img src="myimg.jpg" alt="My Image">
    </div>
    <p>I am currently pursuing my Bachelor's degree in Information Technology from PSIT College of Engineering. As an
        engineering student, I am constantly striving to enhance my skills and knowledge in the field of technology.
        Through my coursework and hands-on experience, I have gained a solid foundation in programming languages such as
        Python and C++.

        In addition to my technical skills, I am also passionate about learning and exploring new ideas. I enjoy
        collaborating with others and working on projects that challenge me to think creatively and innovatively. I am a
        problem solver at heart and enjoy finding solutions to complex challenges.

        Outside of my academic pursuits, I enjoy participating in extracurricular activities such as coding
        competitions, hackathons, and volunteering in community service projects. These experiences have helped me
        develop strong leadership, communication, and teamwork skills.

        Overall, I am driven to pursue a career in technology where I can utilize my skills and creativity to make a
        positive impact on society.</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/suraj.sachan.58?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com/suraj._.sachan?igshid=ZGUzMzM3NWJiOQ=="><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/suraj-sachan-62b117229/"><i class="fab fa-linkedin-in"></i></a>
    </div>
</body>

</html>